
/* style */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
 margin: 0 auto;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 400px;
  margin: 0 auto;
 
}

.calculator button {
  font-size: 2rem;
  padding: 10px;
}







    
  