
/* style */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
 margin: 0 auto;
}

.logo{

  font-size: xx-large;
  
  
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 400px;
  margin: 0 auto;
 
}

.calculator button {
  font-size: 2rem;
  padding: 10px;
}




.calculator input {
  grid-column: span 4;
  font-size: 2rem;
  text-align: right;
}

/* media query  */

@media (max-width: 600px) {
  .calculator {
    max-width: 100%;
  }
  .calculator button {
    font-size: 1.5rem;
    padding: 5px;
  }
  .calculator input {
    font-size: 1.5rem;
  }
}
    
  